<!DOCTYPE html>
<html>
    <head>
        <title>Garden Pi</title>
    </head>
    <body>
        <h1>Garden Pi</h1>
        <h2>Plant Moisture Levels and Watering Status</h2>
        <ul>
            <li>Plant 1</li>
            <ul>
                <li>Moisture : {{plant1_moisture}}</li>
                <li>Watering Status : {{plant1_water_state}}</li>
            </ul>
            <li>Plant 2</li>
            <ul>
                <li>Moisture : {{plant2_moisture}}</li>
                <li>Watering Status : {{plant2_water_state}}</li>
            </ul>
            <li>Plant 3</li>
            <ul>
                <li>Moisture : {{plant3_moisture}}</li>
                <li>Watering Status : {{plant3_water_state}}</li>
            </ul>
        </ul>
    </body>
</html>
